
/* hero background image */
.bgimage {
    height:100vh;
    background: url('images/green_circ.jpg');
    background-size:cover;
    position:relative;
}
.nolan {
  height:100vh;
    background: url('images/nolan_img.jpg');
    background-size:cover;
    position:relative;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(38, 255, 0);
}
/* about section image css */
.imageAboutPage {
    width: 100%;
}
/* services section css */
.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000;
}
.servicesText:hover {
    border: 1px solid #008000;
}

/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: black;
}

#art {
    text-align: center;
    padding: 20px;
  }
  
  h2 {
    font-size: 24px;
  }
  
  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  /* for links*/
  a {
    cursor: text; /* Change the cursor to text when hovering over the link */
}

  .image-row {
    width: 25%; /* Adjust the width as needed */
    margin-bottom: 20px;
    text-align: center;
  }
  
  img {
    max-width: 100%;
    border: 2px solid #333; /* Add a border for image style */
    border-radius: 5px; /* Add rounded corners */
    transition: transform 0.2s;
  }
  
  img:hover {
    transform: scale(1.1); /* Zoom effect on hover */
  }

  /* social media icons styling */
.social-icons {
  font-size: 36px;
  cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
  color:rgb(38, 255, 0);
}
.fab {
  color: #000000;
}
/* Links styling */
#Links {
  background-color: grey;
  text-align: center;
}
#home {
  background-color: #000000;
  text-align: center;
  color: rgb(38, 255, 0);
}
#about {
  background-color: #000000;
  text-align: justify;
  color: rgb(38, 255, 0);
}
#Projects {
  background-color: #000000;
  text-align: center;
  color: rgb(38, 255, 0);
}
#Art {
  background-color: #000000;
  text-align: center;
  color:  rgb(38, 255, 0);
}
#contact {
  background-color: #000000;
  text-align: center;
  color: rgb(38, 255, 0);
}
#Footer {
  background-color: #000000;
  text-align: center;
  color: rgb(38, 255, 0); 
}
